/* styles.css */

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

header h1 {
    margin: 0;
}

header p {
    margin: 10px 0 0;
}

header a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
}

header a:hover {
    text-decoration: underline;
}

form {
    text-align: center;
    margin-top: 20px;
}

form label {
    margin-right: 10px;
}

form input[type="text"] {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

form button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #0779e4;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s;
}

form button:hover {
    background-color: #005bb5;
}

button{
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #0779e4;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #005bb5;
}

.btn-s a{
    color: white;
    text-decoration: none;
}

.blog-list {
    list-style: none;
    padding: 0;
}

.blog-list li {
    padding: 10px;
    background: #fff;
    margin-bottom: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.blog-list li a {
    color: #0779e4;
    text-decoration: none;
    font-weight: bold;
}

.blog-list li a:hover {
    text-decoration: underline;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
    padding: 20px;
}